@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-MediumItalic.woff2') format('woff2'),
      url('../../fonts/default/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-Italic.woff2') format('woff2'),
      url('../../fonts/default/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-Bold.woff2') format('woff2'),
      url('../../fonts/default/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-Regular.woff2') format('woff2'),
      url('../../fonts/default/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-BoldItalic.woff2') format('woff2'),
      url('../../fonts/default/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/default/Roboto-Medium.woff2') format('woff2'),
      url('../../fonts/default/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../fonts/default/RobotoMono-Regular.woff2') format('woff2'),
      url('../../fonts/default/RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Khand (variable, 300–700) */
@font-face {
  font-family: Khand;
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('../../fonts/default/khand-variable.woff2') format('woff2'),
    url('../../fonts/default/khand-variable.woff') format('woff');
}

/* Fira Code (variable, 300–500) */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 500;
  font-display: swap;
  src: url('../../fonts/default/fira-code-variable.woff2') format('woff2'),
    url('../../fonts/default/fira-code-variable.woff') format('woff');
}

/* General Sans (variable, 300–500) */
@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 300 500;
  font-display: swap;
  src: url('../../fonts/default/general-sans-variable.woff2') format('woff2'),
    url('../../fonts/default/general-sans-variable.woff') format('woff');
}

/* Supreme (variable, 300–800) */
@font-face {
  font-family: Supreme;
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('../../fonts/default/supreme-variable.woff2') format('woff2'),
    url('../../fonts/default/supreme-variable.woff') format('woff');
}

/* Noto Emoji (variable, constrained to 700) */
@font-face {
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/default/noto-emoji-variable.woff2') format('woff2');
}

// Emoji font – Noto Emoji variable
@font-face {
  font-family: "Noto Emoji";
  src: url('../../fonts/default/noto-emoji-variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 400
  font-display: swap;
  // restrict this face to emoji codepoints so it won't touch normal text
  unicode-range:
    U+1F300-1F5FF,  /* Misc Symbols and Pictographs */
    U+1F600-1F64F,  /* Emoticons */
    U+1F680-1F6FF,  /* Transport & Map */
    U+1F700-1F77F,
    U+1F780-1F7FF,
    U+1F800-1F8FF,
    U+1F900-1F9FF,
    U+1FA00-1FA6F,
    U+1FA70-1FAFF,
    U+2600-26FF,    /* Misc symbols */
    U+2700-27BF;    /* Dingbats */
}



/* Barlow (variable, 800–900) */
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../fonts/default/barlow-bold.woff2') format('woff2'),
    url('../../fonts/default/barlow-bold.woff') format('woff');
}

/* Barlow (variable, 800–900) */
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../fonts/default/barlow-black.woff2') format('woff2'),
    url('../../fonts/default/barlow-black.woff') format('woff');
}
